body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #fff;
}
body.getDark {
  color: #fff;
  background-color: #333;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

.modeChange {
  display: flex;
  justify-content: flex-end;
  padding-right: 8%;
}
.modeChange button {
  display: block;
  width: clamp(25px, 100%, 50px);
  background-color: #dadada;
  border-radius: 30px;
  position: relative;
}
.modeChange button::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
}
.modeChange button.getDark {
  background-color: #626262;
  transition: 0.5s;
}
.modeChange button.getDark::before {
  background-color: #dadada;
  transform: translate(20%, -50%);
  transition: background-color 0.25s, transform 0.5s;
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  display: none;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: unset !important;
}

.imgBoxes {
  overflow: hidden;
  width: clamp(320px, 100%, 960px);
  margin: 0 auto;
}
.imgBoxes .swiper-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  transform: unset !important;
  position: static !important;
}
.imgBoxes .swiper-wrapper p {
  overflow: hidden;
  height: 100px;
  max-width: 30%;
  margin: 0 !important;
  padding: 0;
}
.imgBoxes .swiper-wrapper p img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.imgBoxes .swiper-wrapper p span {
  display: none;
}
.imgBoxes .swiper-wrapper img:hover {
  transition: 0.5s;
  opacity: 0.5;
  cursor: pointer;
}

.swiper-slide {
  padding: 16px;
}
.swiper-slide .swiperImges span {
  display: block;
  color: #fff;
  padding-top: 0.25em;
}

.forBase {
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
}
.forBase .action {
  display: none;
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.forBase .action::before, .forBase .action::after {
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.75;
  cursor: pointer;
}
.forBase .action.leftAction {
  left: 0;
}
.forBase .action.leftAction::before {
  content: "<";
  left: 0;
}
.forBase .action.rightAction {
  right: 0;
}
.forBase .action.rightAction::after {
  content: ">";
  right: 0;
}
.forBase.goView {
  transition: opacity 0.5s, visibility 0.5s;
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
}
.forBase.goView .action {
  display: block;
}
.forBase button {
  margin: 1em 0 0 1em;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.forBase button::before, .forBase button::after {
  content: "";
  width: 16px;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.forBase button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 600px) {
  .imgBoxes {
    gap: 2em;
  }
  .imgBoxes p {
    height: 240px;
  }

  .forBase {
    padding: 0 12.5vw;
  }
}
@media screen and (min-width: 1025px) {
  .imgBoxes {
    gap: 1em;
  }
  .imgBoxes .swiper-wrapper p {
    max-width: 18%;
    height: 140px;
  }

  .forBase .action {
    width: 25vw;
  }
}
/*# sourceMappingURL=style.css.map */